.update col-md-4 mb-3 {
    word-spacing: 10px;

}



.update {
    background-color: #fdfde9;
    padding:  10px;
}

.update label {
    display: inline-block;
    margin: 0.2em;
    font-size: 13px;
    font-weight: bold;
}

.update input {
    padding:  2px;
    border-radius: 2px;
    border: 1px solid black
}

.update input#submit {
    margin-top: 7px;
    padding:  4px;
}

.update input#submit:hover {
    background-color: green;
    color: aliceblue
}

.update .form-row .form-group {
    padding: 5px 30px 0 0;
}