@import "~bootstrap-icons/font/bootstrap-icons.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * header.ejs
 */

.midimg{
  display: inline-block;
  padding-left: 30px;
  
}

.navbar-brand{
  width: 202px;
}



/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

/* styles.css */

.nav-link.clicked {
  background-color: #e4b97c; /* Clicked link color */
  color: #fff; /* Change text color to white */
}

.nav-link {
  transition: background-color 0.3s ease; /* Add transition for a smooth effect */
  color: #333; /* Default text color */
}

.sidebar .nav-link {
  font-weight: 500;
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #e4b97c;
}

.nav-link.active {
  background-color: #007bff;
  color: #fff; /* Change text color to white for active link */
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */


.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  width: 248px;
  text-align: center;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  background-color: white;
}

.navbar .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
  
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.table-striped tr:hover{
background-color: #f8d79a;
}

.table-striped th{
  color: #fff;
  background-color: #d18923;
  border-color: #76663f;
}

.nav-item:hover{
background-color:#ffebd2;
}

.btn-outline-secondary:hover {
background-color: #d18923;
color: white;
}


.tableCouple{
  margin-left: 300px;
  width: 1100px;
  position: fixed;
}

.tableMother{
  margin-left: 300px;
  width: 1100px;
  position: fixed;
}

.AllTable{
  margin-left: 270px;
  width: 1180px;
  position: fixed;
}

.homebrief{
  width: 2500px;
}

.fluid{
  position: fixed;
}

.AllTableAdd {
  margin-left: 270px;
  width: 1180px;

}
